'BrauneDigital\MessageBundle\Entity\BaseUserHasConversation':
    type: mappedSuperclass
    table: bd_msg__user_conversation
    fields:
        joinedOn:
            type: datetime
            nullable: false
        leftOn:
            type: datetime
            nullable: true
        active:
            type: boolean
            nullable: false
            options:
                default:
                    1
        isAdmin:
            type: boolean
            nullable: false
            options:
                default:
                    0
        ### TODO Notifications