'BrauneDigital\MessageBundle\Entity\BaseConversation':
    type: mappedSuperclass
    table: bd_msg_conversation
    fields:
        subject:
            type: string
            length: 255
        created:
            type: datetime